.ui-dialog.flow-player-dialog .ui-dialog-titlebar {
  background: #00abcd !important;
}
.ui-dialog.flow-player-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close {
  border: 3px solid #00abcd !important;
}
.flow-player-widget {
  text-align: center;
  display: block;
  padding-top: 15px;
}
.flow-player-widget:before {
  content: '\25b6';
  font-size: 120px;
  color: #fff;
  opacity: .9;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -71px;
  text-shadow: 0 0 40px #000;
}
.flow-player-widget__summary {
  font-style: italic;
  display: block;
  padding: 15px;
  font-size: 13px;
}
